.contain-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 25px;
}

.flex-box {
    display: flex;
    flex-grow: row;
    justify-content: space-evenly;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.flex-box-head {
    display: flex;
    flex-grow: row;
    justify-content: space-around;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.name-box{
    display: flex;
    flex-grow: row;
    justify-content: start;
    gap: 10px;
}
.name-box img {
    margin-top: 25px;
    width: 40px;
    height: 35px;
}

.flex-box h1 {
    color: rgb(98, 98, 98);
    font-family: 'Roboto Condensed', sans-serif;
}

.flex-box-2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.flex-box-graph {
    display: flex;
    justify-content: center;
    width: 50%;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.flex-box-graph-right {
    display: flex;
    width: 50%;
    justify-content: center;
    padding: 20px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.flex-box-monitor {
    display: flex;
    flex-flow: column;
    width: 30vw;
    border-color: rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.flex-box-monit-svg {
    display: flex;
    justify-content: center;
    z-index: 5;
    transform: scale(90%);
}

.flex-box-below {
    display: flex;
    flex-flow: column;
    width: 50%;
    padding: 20px;
    border-color: rgba(0, 0, 0, 0.1);

}

.flex-box-below-left {
    display: flex;
    flex-flow: column;
    width: 50%;
    padding: 20px;
    border-color: rgba(0, 0, 0, 0.1);

}

.flex-box-below-right {
    display: flex;
    flex-flow: column;
    width: 50%;
    padding: 20px;
    border-color: rgba(0, 0, 0, 0.1);

}

.flex-box-basic {
    display: flex;
    flex-flow: column;
    /* ให้เป็นแนวตั้ง */
    height: fit-content;
    max-height: 390px;
    /* ค่าตัวอย่าง คุณควรกำหนดความสูงที่คุณต้องการ */
    border: 1px solid rgba(207, 207, 207, 0.3);
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
    /* ให้เลื่อนได้แนวตั้ง */
    overflow-x: hidden;
    /* ปิดการเลื่อนแนวนอน */
    transform: scale(0.9);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.01);

}


.flex-box-basic p {
    font-size: 22px;
    color: rgb(74, 74, 74);
}


.flex-box-rate {
    display: flex;
    flex-flow: row;
    width: fit-content;
    padding: 20px;
    border-color: rgba(0, 0, 0, 0.1);
    gap: 90px;
}

.flex-box-rate p {
    font-size: 22px;
    color: rgb(74, 74, 74);
}

.flex-box-rating {
    border-color: rgba(0, 0, 0, 0.1);

    display: flex;
}

.flex-box1 {
    align-self: center;
    width: fit-content;
    margin-bottom: 60px;
}

.flex-box2 {
    display: flex;
    align-self: center;
    width: fit-content;
    gap: 97px;
}

.flex-box3 {
    align-self: center;
    width: fit-content;
    margin-top: 60px;
}

.pvtobatt {
    width: 10px;
    height: 10px;
    position: relative;
    border-radius: 50%;
    animation-name: pvtobatt;
    animation-duration: 3s;
    transform: translateY(90px);
    animation-iteration-count: infinite;
    z-index: 1;
    align-self: center;
}

@keyframes pvtobatt {
    0% {
        background-color: rgb(238, 245, 29);
        left: -10.7px;
        top: 0px;

    }

    50% {
        background-color: rgb(238, 245, 29);
        left: -11.7px;
        top: 73px;

    }

    75% {
        background-color: rgb(127, 208, 233);
        top: 87px;
        left: -23px;

    }

    100% {
        background-color: rgb(136, 208, 230);
        top: 87px;
        left: -95px;

    }
}

.pvtoload {
    width: 10px;
    height: 10px;
    position: relative;
    border-radius: 50%;
    animation-name: pvtoload;
    animation-duration: 3s;
    transform: translateY(80px);
    animation-iteration-count: infinite;
    z-index: 10;
    align-self: center;
}

@keyframes pvtoload {
    0% {
        background-color: rgb(238, 245, 29);
        right: -10.5px;
        top: 0px;

    }

    50% {
        background-color: rgb(238, 245, 29);
        right: -10.5px;
        top: 73px;

    }

    75% {
        background-color: rgb(127, 233, 184);
        top: 87px;
        right: -24px;

    }

    100% {
        background-color: rgb(127, 233, 184);
        top: 88px;
        right: -97px;

    }
}

.emty {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 15;
}
.batttoload {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    animation-name: batttoload;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    z-index: 15;
}

@keyframes batttoload {
    0% {
        background-color: rgb(66, 172, 238);
        left: -97px;
        top: 35px;
    }

    100% {
        background-color: rgb(127, 233, 184);
        left: 95px;
        top: 35px;
    }
}

.gridtobatt {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    animation-name: gridtobatt;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    z-index: 15;
}

@keyframes gridtobatt {
    0% {
        background-color: rgb(249, 133, 162);
        left: 21px;
        top: -1px;
    }

    50% {
        background-color: rgb(249, 133, 162);
        left: 21px;
        top: -70px;
    }

    75% {
        background-color: rgb(127, 217, 233);
        left: 11px;
        top: -88px;
    }

    100% {
        background-color: rgb(127, 217, 233);
        top: -90px;
        left: -63px;

    }
}

.gridtoload {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    animation-name: gridtoload;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    z-index: 15;
}

@keyframes gridtoload {
    0% {
        background-color: rgb(249, 133, 162);
        left: 43px;
        top: -86px;
    }

    50% {
        background-color: rgb(249, 133, 162);
        left: 43px;
        top: -155px;
    }

    75% {
        background-color: rgb(127, 233, 184);
        left: 55px;
        top: -173px;
    }

    100% {
        background-color: rgb(127, 233, 184);
        top: -174px;
        left: 130px;
    }
}

.flex-box4 {
    align-self: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.flex-box5 {
    border: 1px solid black;
}