.grid {
    display: grid;
    place-content: center;
}

.grid p {
    color: black;
    font-size: 70%;
    margin: -8px;
    align-self: center;
}

.circlegrid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #F898A4;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: white;
}


.circlegridbackground {
    background-clip: padding-box;
    box-shadow: 0 0 9px 1px hsla(352, 75%, 63%, 0.482);
    padding: 2px;
    border-radius: 50%;
}

.icongrid {
    width: 40px;
    height: 40px;
    filter: invert(0);
}