@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  background-color:#ffffff;
  overflow: hidden;
}

.content_body{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 90%;
  overflow: scroll;
}

.content_body svg {
  width: 300px;
  z-index: 1;
  position: absolute;
}

.app {
  display: flex;
  position: relative;
}

.menu-bars {
  text-decoration: none;
  color: #000000;
}
::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-track {
  background: #f5d5c7;
}


::-webkit-scrollbar-thumb {
  background: #ff6200;
}


::-webkit-scrollbar-thumb:hover {
  background: #c43404;
}